.jumbotron {
  background-image: url(fishtacos.jpg);
  background-size: cover;
  height: 1000px;
  font-family: 'Lobster', cursive;
  color: black;
}

body {
    color: #f0f6fd;
    text-align: center;
    background-color: #141e44;
}


.food-home {
  height: 300px;
}
